.list-container
  padding: 5px 50px 5px 50px;

.list-wrapper
  &.photos
    padding: 40px
  .list-header
    padding: 0 50px
    .form__element-holder i
      top: 40%
    .button_wrapper
      text-align: end
      margin-top: 5px

  .item
    float: left;
    width: 100px;
    height: 100px;
    padding: 10px
    margin:0 10px 10px 0;
    background-color: #edeef0;
    background-size: cover;
    -webkit-transition:all 1.0s ease;
    -moz-transition:all 1.0s ease;
    transition:all 1.0s ease;
    cursor: pointer
    i
      padding: 10px
      font-size: 16px
      color: $current
    span
      color: $current
      font-size: 14px


.list-wrapper.list-mode .item
  width:100%;
  height: 15px

