.users-info
  background: #fff
  &__header
    padding 20px
  &__title
    font-size 20px
    color: #2f313d
    margin: 0
  &__controls
    display block
  &__footer
    padding: 20px
  .table__filter
    &__text