//Colors

$current = #5e8eed
$red = #ea3a3a
$yellow = #f38e34
$green = #48ae76
$gray = #edeef0
$light_gray = #a7b1c2
$dark_gray = #bebec3
$light_blue = #e7e7f1
$dark_blue = #2f313d
$dark = #1b1c1d
$text = #49545c
