div(ng-message='required') Required Field
div(ng-message='number') Must be a number
div(ng-message='email') Must be a valid email address
div(ng-message='minlength') The data entered is too short
div(ng-message='maxlength') The data entered is too long
div(ng-message='myDate') Must be a valid date
